@tailwind components;

@layer components {

    .card {
        @apply w-full sm:w-52 h-[23rem] border flex flex-col shadow-md cursor-pointer 
        max-[507px]:my-6 max-[507px]:h-60 max-[507px]:flex-row
        border-gray-200 bg-white rounded-lg 
        dark:bg-slate-900 dark:border-gray-700
        hover:scale-105 dark:hover:bg-yellow-400
        ;

        &-bottom {
            @apply px-4 h-40 flex flex-col justify-between max-[507px]:py-5 
            max-[507px]:mr-8 max-[507px]:px-0
            max-[507px]:h-full 
            ;

            &__title {
                @apply text-lg font-semibold tracking-tight text-gray-900
                max-[507px]:text-2xl
                dark:text-white
                dark:group-hover:text-black
                ;
            }

            &__amount {
                @apply mb-5 text-2xl font-semibold text-emerald-700 
                dark:text-yellow-300
                dark:group-hover:text-black
                ;
            }
        }
    }
}