@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .header {
        @apply flex flex-col items-center w-full pt-8 h-fit 
        bg-emerald-700 pb-20
        dark:bg-slate-900;
        
        &-main {
            @apply min-w-fit mx-8;

            &__title {
                @apply font-sans text-3xl subpixel-antialiased font-extrabold tracking-wide 
                text-white my-14;
            }
        }
    }

    .top-navigation-icon {
        @apply text-gray-200
        hover:text-yellow-300 
        dark:hover:ring-2 dark:hover:ring-yellow-300
        cursor-pointer
        transition ease-in-out delay-100 hover:scale-125 duration-200
        ;
    }

    .input {
        @apply block w-full pl-10 p-2.5 
        outline-emerald-200 bg-gray-50 border border-gray-300
        text-gray-900 text-2xl rounded-xl
        dark:bg-gray-700 dark:border-gray-100 dark:placeholder-gray-50 dark:hover:placeholder-black
        dark:focus:placeholder-black dark:text-gray-50 dark:hover:text-black dark:focus:text-black
        dark:focus:outline-black dark:focus:bg-yellow-400
        dark:hover:bg-yellow-400 dark:font-semibold
        ;
    }

    .card {
        @apply w-52 h-96 border border-gray-200 bg-white rounded-lg shadow-md 
        dark:bg-slate-900 dark:border-gray-700
        hover:scale-105 cursor-pointer
        dark:hover:bg-yellow-400 
        ;

        &-bottom {
            @apply px-4 pb-4;

            &__title {
                @apply text-lg font-semibold tracking-tight text-gray-900
                dark:text-white
                dark:group-hover:text-black
                ;
            }

            &__amount {
                @apply mt-2 text-xl font-semibold text-emerald-700 
                dark:text-yellow-300
                dark:group-hover:text-black
                ;
            }
        }
    }

    .container {
        grid-template-columns: repeat(auto-fit,minmax(200px,0.5fr));
        grid-gap: 25px;
        box-sizing: border-box;
        @apply mt-16 mx-auto pb-6 w-5/6 grid place-items-center
        ;
    }

    .overlay {
        @apply w-full min-h-screen fixed left-0 top-0 right-0 bottom-0 flex justify-center items-center
        ;
        background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));

    
        &-inner {
            @apply relative bg-white rounded-lg shadow dark:bg-gray-800
            ; 
            width: 700px;
            height: 550px;
            padding: 1.5rem;
            position: relative;
            box-sizing: border-box;
            overflow: hidden;
            font-size: 1.3rem;

            .close{
                @apply absolute top-4 right-4 outline-none border-none text-3xl
                text-gray-400 bg-transparent hover:text-gray-900 dark:hover:text-yellow-400
                dark:hover:ring-2 dark:hover:ring-yellow-300
                ;
            }
    
            &__box {
                margin-top: 30px;
                display: flex;
                justify-content: center;
    
                img {
                    margin-right: 20px;
                    width: 150px;
                    height: 200px;
                }
            }
    
            &__description {
                @apply text-black dark:text-white 
                ;
                margin-top: 2rem;
                text-align: justify;
                font-size: 13px;
            }
        }
    }
    
    .info h3{
        @apply text-black dark:text-white 
        ;
        margin-top: 10px;
    }
    .info h1, h4{
        @apply text-black dark:text-white 
        ;
    }
    .info button{
        @apply  hover:text-yellow-300 
        dark:hover:ring-2 dark:hover:ring-yellow-300
        ;
        outline: none;
        border: none;
        width: 100px;
        border-radius: 5px;
        font-weight: bold;
        padding: 0.3rem 0.5rem;
    }
    
}