@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply transition-all duration-700;
    }
}

@layer components {

    .header {
        @apply flex flex-col items-center w-full pt-8 h-fit 
        bg-emerald-700 pb-20
        dark:bg-slate-900;
        
        &-main {
            @apply min-w-fit mx-8;

            &__title {
                @apply font-sans text-3xl subpixel-antialiased font-extrabold 
                tracking-wide text-white my-14
                ;
            }
        }
    }

    .top-navigation-icon {
        @apply text-gray-200
        hover:text-yellow-300 
        dark:hover:ring-2 dark:hover:ring-yellow-300
        cursor-pointer hover:scale-125
        ;
    }

    .input {
        @apply block w-full pl-10 p-2.5 
        outline-emerald-200 bg-gray-50 border border-gray-300
        text-gray-900 text-2xl rounded-xl
        dark:bg-gray-700 dark:border-gray-100 dark:placeholder-gray-50 
        dark:hover:placeholder-black dark:focus:placeholder-black 
        dark:text-gray-50 dark:hover:text-black dark:focus:text-black
        dark:focus:outline-black dark:focus:bg-yellow-400
        dark:hover:bg-yellow-400 dark:font-semibold
        ;
    }

    .card {
        @apply w-full sm:w-52 h-96 border flex flex-col shadow-md cursor-pointer 
        max-[507px]:my-6 max-[507px]:h-60 max-[507px]:flex-row
        border-gray-200 bg-white rounded-lg 
        dark:bg-slate-900 dark:border-gray-700
        hover:scale-105 dark:hover:bg-yellow-400
        ;

        &-bottom {
            @apply px-4 h-40 flex flex-col justify-between max-[507px]:py-5 
            max-[507px]:mr-8 max-[507px]:px-0
            max-[507px]:h-full 
            ;

            &__title {
                @apply text-xl font-semibold tracking-tight text-gray-900
                max-[507px]:text-2xl max-[400px]:text-xl
                dark:text-white
                dark:group-hover:text-black
                ;
            }

            &__amount {
                @apply mb-5 text-2xl font-semibold text-emerald-700 
                dark:text-yellow-300
                dark:group-hover:text-black
                ;
            }
        }
    }

    .container-books {
        grid-template-columns: repeat(auto-fit,minmax(200px, 0.5fr)); //From 507 shows two columns 
        @apply gap-4 mt-10 min-[507px]:mx-auto pb-6 w-full min-[507px]:w-5/6 
        min-[507px]:grid box-border
        ;
    }

    .overlay {
        @apply w-full min-h-screen fixed left-0 top-0 right-0 bottom-0 flex 
        justify-center items-center
        bg-emerald-700 dark:bg-black
        ;

    
        &-inner {
            @apply relative bg-white rounded-lg shadow dark:bg-gray-800
            w-screen md:w-1/2 h-screen md:h-5/6 overflow-y-auto p-6 box-border
            ; 

            .close{
                @apply absolute top-4 right-4 outline-none border-none text-3xl
                text-gray-400 bg-transparent hover:text-gray-900 dark:hover:text-yellow-400
                dark:hover:ring-2 dark:hover:ring-yellow-300
                ;
            }
        }
    }

    .info-box {
        @apply flex justify-center 
        ;

        &__book {
            @apply mr-4 w-fit h-fit
            ;
        }

        &__title {
            @apply my-2 text-2xl md:text-xl font-semibold
            text-black dark:text-white 
            ;
        }

        &__author, &__publisher {
            @apply text-gray-900 dark:text-gray-50
            leading-7 text-xl
            ;
        }

        &__more {
            @apply font-semibold text-2xl w-20 h-10 rounded-lg
            dark:text-black hover:ring-2 dark:hover:ring-yellow-300 dark:bg-yellow-300
            text-white bg-emerald-700 hover:ring-emerald-700
            ;
        }
        
    }

    .description {
        @apply text-black dark:text-white
        text-lg leading-6 font-normal text-justify my-3
        ;
    }
}